* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dialog-color: #e9ecef;
  --dialog-border-radius: 20px;
  --icon-color: rgba(73, 80, 87, 0.6);
  --dialog-padding: 20px;
}

.file-container {
  font-family: sans-serif;
  font-size: 13pt;
  color: #4d4d4d;
}

.file-container .file-wrapper {
  /* position: fixed; */
  display: block;
  width: 70vw;
  height: 80vh;
  max-height: 500px;
  min-height: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--dialog-color);
  z-index: 20;
  border-radius: var(--dialog-border-radius);
  padding: var(--dialog-padding);
}
.file-container .file-wrapper .file-input {
  position: absolute;
  width: 70%;
  height: 45%;

  background-color: #000;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}
.file-container .file-wrapper .file-input--active + .file-content {
  background: var(--drag-over-background);
}
.file-container .file-wrapper .file-input--active + .file-content .file-icon {
  opacity: 0.5;
}
.file-container .file-wrapper .file-input--active + .file-content .file-icon i {
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.file-container
  .file-wrapper
  .file-input--active
  + .file-content
  .file-icon
  .icon-shadow {
  animation-name: shrink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
.file-container .file-wrapper .file-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 8px dashed var(--icon-color);
  border-radius: var(--dialog-border-radius);
  transition: 0.2s;
}
.file-container .file-wrapper .file-content .file-infos {
  display: flex;
  width: 50%;
  height: 50%;
  min-width: 400px;
  min-height: 202px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.file-container .file-wrapper .file-content .file-infos .file-icon {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--icon-color);
  background-color: #f1f1f1;
  border-radius: var(--dialog-border-radius);
  padding: var(--dialog-padding);
  box-shadow: inset 0px 0px 6px 0px #ccc;
  transition: 0.2s;
}
.file-container .file-wrapper .file-content .file-infos .file-icon i {
  margin-bottom: 20px;
  width: 100%;
}
.file-container
  .file-wrapper
  .file-content
  .file-infos
  .file-icon
  .icon-shadow {
  position: relative;
  display: block;
  width: 95px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--drag-over-background);
  top: -17px;
  margin-left: auto;
  margin-right: auto;
}

.file-container .file-wrapper .file-content .file-infos .file-icon > span span {
  display: none;
}
.file-container
  .file-wrapper
  .file-content
  .file-infos
  .file-icon
  > span
  .has-drag {
  display: inline;
}
.file-container .file-wrapper .file-content .file-infos .file-icon i,
.file-container .file-wrapper .file-content .file-infos .file-icon span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.file-container .file-wrapper .file-content .file-name {
  font-weight: bold;
  font-size: 15pt;

  text-align: center;
}

.file-footer {
  margin: 0 0 20px 0;
}

.upload-button {
  padding: 12px 20px;
  font-size: 15pt;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #349375;
  border: 3px solid #2b8669;
  border-radius: 5px;
  color: #fff;
  /* margin: 50px 0; */
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shrink {
  0% {
    width: 95px;
  }
  50% {
    width: 75px;
  }
  100% {
    width: 95px;
  }
}
